body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 992px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sign-form-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 40px;
}
.sign-form {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  padding: 10px;
}
@media screen and (max-width: 992px) {
  .sign-form {
    width: calc(33.333333333333336% - 30px);
  }
}
@media screen and (max-width: 720px) {
  .sign-form {
    width: calc(83.33333333333334% - 30px);
  }
}
.sign-form .input-field {
  margin-bottom: 30px;
}
.sign-form .input-field:last-of-type {
  margin-bottom: 0;
}
.site-desc {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
  color: #fff;
}
@media screen and (max-width: 720px) {
  .site-desc {
    -webkit-box-ordinal-group: 2;
    order: 1;
    margin-top: 20px;
  }
}
.signin-notacc {
  margin-left: 7px;
  font-size: 18px;
}
.content {
  margin-top: 10px;
}
.content-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
}
.data {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66666666666667% - 30px);
  color: #004d40;
}
@media screen and (max-width: 720px) {
  .data {
    width: calc(100% - 30px);
  }
}
.data h2 {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  text-align: center;
  font-size: 35px;
  color: #004d40;
}
.data h3 {
  font-size: 28px;
}
.data-common {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
}
.data-common-item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(75% - 30px);
  margin: 20px 0;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .data-common-item {
    width: calc(100% - 30px);
  }
}
.data-common-item h3 {
  margin-bottom: 15px;
}
.curr-credit {
  font-weight: bold;
}
.add-money {
  margin-left: 10px;
}
.data-categories-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: left;
  justify-content: left;
}
@media screen and (max-width: 992px) {
  .data-categories-row {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.data-categories {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  margin-top: 20px;
}
.category-select {
  display: inline-block;
  max-width: 250px;
  background: #e0f2f1;
  border-radius: 5px;
}
.category-value {
  display: inline-block;
}
.actions {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  height: 500px;
  border-radius: 10px;
  background: #e0f2f1;
}
@media screen and (max-width: 992px) {
  .actions {
    display: none;
  }
}
