.sign-form-row
	row-flex()
	justify-content center
	margin-top 40px
.sign-form
	col()
	size(4)
	size-md(4)
	size-sm(10)
	padding 10px
.sign-form .input-field
	margin-bottom 30px
	&:last-of-type
		margin-bottom 0
.site-desc
	col()
	size(8) 
	sm-block({
		order: 1
		margin-top: 20px
	})
	color white
.signin-notacc
	margin-left 7px
	font-size 18px
.content
	margin-top 10px
.content-row
	row-flex()
	justify-content center
.data
	col()
	size(8)
	size-sm(12)
	color #004d40
	h2
		col()
		size(12)
		text-align center
		font-size 35px
		color #004d40
	h3
		font-size 28px
.data-common
	row-flex()
	justify-content center
.data-common-item
	col()
	size(9)
	size-md(12)
	margin 20px 0
	text-align left
	h3
		margin-bottom 15px
.curr-credit
	font-weight bold
.add-money
	margin-left 10px
.data-categories-row
	row-flex()
	md-block({
		justify-content: center
	})
	justify-content left
.data-categories
	col()
	size(12)
	margin-top 20px
.category-select
	display inline-block
	max-width 250px
	background #e0f2f1
	border-radius 5px
.categories-range
	display inline-block
.actions
	col()
	size(4)
	md-block({
		display: none
	})
	height 500px
	border-radius 10px
	background #e0f2f1