.sign-form-row
	row-flex()
	justify-content center
	margin-top 40px
.sign-form
	col()
	size(3)
	size-md(4)
	size-sm(10)
	padding 10px
.sign-form .input-field
	margin-bottom 30px
	&:last-of-type
		margin-bottom 0