extends includes/entered
block title
	title signin
block content
	.content.flow-text
		.wrapper
			.content-row
				section.data
				aside.actions
					.actions-hello
						p Hello, Name
						a(href="#") Logout
					.actions-list
						h3.actions-list-title Actions
						ul
							li
								a(href="workspace.html") Home
							li
								a(href="category.html") Edit categories
							li
								a(href="#") Watch incomes
							li
								a(href="#") Watch expenses
				aside.actions-mob#slide-out.sidenav
					.actions-hello
						p Hello, Name
						a(href="#") Logout
					.actions-list
						h3.actions-list-title Actions
						ul
							li
								a(href="workspace.html") Home
							li
								a(href="category.html") Edit categories
							li
								a(href="#") Watch incomes
							li
								a(href="#") Watch expenses

