extends includes/entered
block title
	title signin
block content
	.content.flow-text
		.wrapper
			.content-row
				section.data
					h2 Your current data
					.data-common
						.data-common-item
							p.data-common-title Credit: 
								span.data-common-val 150 EUR
						.data-common-item
							p.data-common-title Last expense: 
								span.data-common-val Title of expense, 150 EUR
						.data-common-item
							p.data-common-title Last income: 
								span.data-common-val Title of income, 150 EUR
					h2 Add Income
					.data-errors
					.data-adding
						.data-adding-item
							select.category-select
								option(value="1") Products
								option(value="2") Car
						.data-adding-item
							label.data-adding-label(for="income-sum") Sum:
							.data-adding-input
								input#income-sum.income-sum(type="number")
						.data-adding-item
								input.btn.income-send(type="submit" value="Add income")
					h2 Add expense
					.data-errors
					.data-adding
						.data-adding-item
							select.category-select
								option(value="1") Products
								option(value="2") Car
						.data-adding-item
							label.data-adding-label(for="") Sum:
							.data-adding-input
								input.expense-sum(type="number")
						.data-adding-item
								input.btn.expense-send(type="submit" value="Add expense")
				aside.actions
					.actions-hello
						p Hello, Name
						a(href="#") Logout
					.actions-list
						h3.actions-list-title Actions
						ul
							li
								a(href="workspace.html") Home
							li
								a(href="category.html") Edit categories
							li
								a(href="#") Watch incomes
							li
								a(href="#") Watch expenses
				aside.actions-mob#slide-out.sidenav
					.actions-hello
						p Hello, Name
						a(href="#") Logout
					.actions-list
						h3.actions-list-title Actions
						ul
							li
								a(href="workspace.html") Home
							li
								a(href="category.html") Edit categories
							li
								a(href="#") Watch incomes
							li
								a(href="#") Watch expenses
